.menu {
	height: 118px;
	display: flex;
	justify-content: space-between;
}

.menu-search {
	display: flex;
	align-items: center;
}

.menu-search-input {
	width: 594px;
	height: 40px;
	border-radius: 10px;
	border: 1px solid #ddd;
	margin-left: 66px;
	padding: 10px 24px;
	outline: none;
}

.menu-search-input::-webkit-input-placeholder {
	color: var(--text-primary-color);
	font-weight: 600;
	font-size: 14px;
}

.menu-search-icon {
	position: relative;
	right: 36px;
}

.menu-login {
	display: inline-flex;
	align-items: center;
	gap: 24px;
}

.menu-login-client {
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu-login-client p {
	font-weight: 600;
}

.menu-login-client-icon {
	width: 24px;
	margin-right: 8px;
}

.menu-cart {
	display: flex;
	position: relative;
	padding: 10px;
	cursor: pointer;
}

.menu-login-cart-icon {
	width: 24px;
}

.menu-cart-quantity {
	width: 21px;
	height: 21px;
	background-color: var(--primary-color);
	text-align: center;
	color: var(--text-secondary-color);
	font-size: 12px;
	font-weight: 700;
	line-height: 14px;
	border-radius: 50%;
	padding: 5px;
	position: absolute;
	right: 0;
	top: 0;
}

.menu-nav {
	height: 22px;
	margin-bottom: 18px;
}

.menu-nav-bar li a {
	color: var(--text-primary-color);
	line-height: 22px;
	stroke: var(--text-primary-color);
}

.menu-nav-bar li a:hover {
	color: var(--primary-color);
	stroke: var(--primary-color);
	font-weight: 700;
	transition: 0.2;
}

.menu-nav-bar li a span {
	font-weight: 700;
}

.menu-nav-bar {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 42px;
}

.menu-nav-bar-sandwich-icon {
	margin-right: 3px;
}

.dropdown {
	position: relative;
}

.dropdown-menu {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: var(--text-secondary-color);
	box-shadow: 0px 4px 8px -1px rgba(0, 0, 0, 0.1);
	width: 1260px;
	height: 350px;
}

.dropdown-menu-departamento {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	width: 350px;
	gap: 12px;
	padding: 20px 14px 0;
	background: rgba(245, 245, 245, 0.57);
}

.dropdown-menu .dropdown-menu-departamento a {
	color: var(--text-terceary-color);
	font-size: 14px;
	font-weight: 400;
}

.dropdown-menu-category {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.dropdown-menu-all-categorys {
	display: flex;
	gap: 127px;
	padding-top: 18px;
	padding-left: 34px;
}

.dropdown-menu-departamento a {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 12px;
	font-weight: 400;
	color: var(--text-terceary-color);
}

.dropdown:hover .dropdown-menu {
	display: flex;
}

.dropdown-menu a:hover {
	color: var(--text-terceary-color);
	font-weight: 700;
}

.dropdowns {
	display: flex;
}

.dropdown-menu-all {
	display: flex;
	gap: 129px;
}

.dropdown-menu-banner {
	position: absolute;
	right: 24px;
	top: 20px;
}

.dropdown-menu-banner img {
	width: 236px;
	height: 298px;
	border-radius: 10px;
	background: linear-gradient(
		90deg,
		rgba(0, 0, 0, 0.75) -20.45%,
		rgba(0, 0, 0, 0.0) 138.31%
	);
}

.dropdown-menu-all-categorys .dropdown-menu-category a {
	color: var(--Grey-Scale-dark-grey, #656565);
	font-size: 14px;
	font-weight: 400;
}

.dropdown-departamento {
	display: none;
	flex-direction: column;
	position: absolute;
	left: -200px;
	background: var(--text-secondary-color);
	box-shadow: 0px 4px 8px -1px rgba(0, 0, 0, 0.1);
	width: 1260px;
	height: 350px;
	padding: 19px 0 0 16px;
}

.dropdown-departamento .dropdown-menu-all-categorys a {
	color: var(--text-terceary-color);
	font-size: 14px;
	font-weight: 400;
}

.dropdown:hover .dropdown-departamento {
	display: flex;
}

.dropdown-departamento .dropdown-menu-all-categorys {
	padding-left: 0;
}

.dropdown-departamento h3 {
	font-size: 16px;
	font-weight: 700;
}
