.menu {
	height: 118px;
	display: flex;
	justify-content: space-between;
}

.menu-search {
	display: flex;
	align-items: center;
}

.menu-search-input {
	width: 594px;
	height: 40px;
	border-radius: 10px;
	border: 1px solid #ddd;
	margin-left: 66px;
	padding: 10px 24px;
}

.menu-search-input::-webkit-input-placeholder {
	color: var(--text-primary-color);
	font-weight: 600;
	font-size: 14px;
}

.menu-search-icon {
	position: relative;
	right: 36px;
}

.menu-login {
	display: inline-flex;
	align-items: center;
	gap: 24px;
}

.menu-login-client {
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu-login-client p {
	font-weight: 600;
}

.menu-login-client-icon {
	width: 24px;
	margin-right: 8px;
}

.menu-cart {
	display: flex;
	position: relative;
	padding: 10px;
}

.menu-login-cart-icon {
	width: 24px;
}

.menu-cart-quantity {
	width: 21px;
	height: 21px;
	background-color: var(--primary-color);
	text-align: center;
	color: var(--text-secondary-color);
	font-size: 12px;
	font-weight: 700;
	line-height: 14px;
	border-radius: 50%;
	padding: 5px;
	position: absolute;
	right: 0;
	top: 0;
}

.menu-nav{
	height: 22px;
	margin-bottom: 18px;
}

.menu-nav-bar li a {
	color: var(--text-primary-color);
	line-height: 22px;
	stroke: var(--text-primary-color);
}

.menu-nav-bar li a:hover {
	color: var(--primary-color);
	stroke: var(--primary-color);
	transition: 0.2;
}

.menu-nav-bar li a span {
	font-weight: 700;
}

.menu-nav-bar {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 45px;
}

.menu-nav-bar-sandwich-icon {
	margin-right: 3px;
}

.dropdown-menu {
	display: none;
	height: 234px;
	padding: 16px;
	width: 234px;
}

.dropdown-menu a {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 12px;
	font-weight: 400;
	color: var(--text-terceary-color);
}

.dropdown:hover .dropdown-menu {
	display: block;
	margin-top: 10px;
	overflow-y: auto;
}

.dropdown-menu a:hover {
	color: var(--text-terceary-color);
}
