.footer-container {
	display: flex;
	flex-direction: column;
	height: 386px;
}

.footer-primary {
	width: 100%;
	display: flex;
	padding: 64px;
	background: #f5f5f5;
}

.footer-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-content-navigation {
	display: flex;
	gap: 110px;
}

.footer-content-social {
	margin-right: 142px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.footer-content-social-icons {
	display: flex;
	gap: 40px;
}

.footer-content-navigation h4 {
	font-size: 14px;
	font-weight: 700;
}

.footer-content-navigation-institutional {
	width: 186px;
	height: 112px;
}

.footer-content-navigation-help {
	width: 173px;
	height: 140px;
}

.footer-content-navigation-service {
	width: 248px;
	height: 126px;
}

.footer-content-navigation ul li h5 {
	color: var(--text-terceary-color);
	font-size: 14px;
	font-weight: 400;
	line-height: 28px;
}

.footer-payments {
	display: flex;
	justify-content: center;
	padding: 68px 0;
	gap: 35px;
}

.footer-secondary {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.footer-secondary .footer-group-avanti {
	width: 57px;
}

.footer-secondary p {
	color: var(--text-terceary-color);
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	margin: 40px 0;
}

.footer-group {
	display: flex;
	justify-content: center;
	gap: 24px;
	margin-bottom: 51px;
}

.footer-group img:nth-child(2) {
	margin-right: 24px;
}

.title-small {
	display: none;
}

@media (max-width: 500px) {
	.footer-content {
		flex-direction: column;
		align-items: start;
		justify-content: start;
	}

	.footer-primary {
		padding: 0;
		width: 390px;
	}

	.footer-content-social {
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: 40px 0 48px;
	}

	.footer-content-navigation {
		flex-direction: column;
		gap: 0;
	}

	.footer-content-navigation .title-small {
		cursor: pointer;
		display: flex;
		justify-content: space-between;
	}

	.footer-content-navigation ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: none;
	}

	.footer-content-navigation ul.open {
		display: block;
		flex-direction: column;
	}

	.footer-content-navigation {
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	.footer-content-navigation-institutional,
	.footer-content-navigation-help,
	.footer-content-navigation-service {
		width: 375px;
		padding: 0 20px;
		height: auto;
		border: 1px solid var(--bg-first-banner);
	}

	.footer-content-navigation .title-big {
		display: none;
	}

	.footer-payments {
		flex-wrap: wrap;
	}
}
