:root {
	--primary-color: #005cff;
	--secondary-color: #00264e;
	--terceary-color: #5ec0be;
	--quaternary-color: #e7e7ea;
	--text-primary-color: #000;
	--text-secondary-color: #fff;
	--text-terceary-color: #303030;
	--bg-first-banner: #c2c2c2;
	--bg-second-banner: #dedede;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family: "Nunito Sans", sans-serif;
	font-weight: 400;
	font-size: 14px;
}

.container {
	max-width: 1260px;
	margin: 0 auto;
}

button {
	cursor: pointer;
}
