.newsletter {
	display: flex;
	height: 227px;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-top: 61px;
	margin-bottom: 40px;
}

.newsletter h3 {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 24px;
}

.newsletter span {
	color: var(--primary-color);
	font-size: 20px;
	font-weight: 700;
}

.newsletter-content {
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--bg-second-banner);
	width: 1260px;
	height: 176px;
	border-radius: 8px;
	padding: 64px 0;
}

.newsletter-content-input {
	width: 280px;
	height: 48px;
	padding-left: 24px;
	border-radius: 8px;
	border: none;
	outline: none;
}

.newsletter-content-input::-webkit-input-placeholder {
	color: var(--text-terceary-color);
	font-size: 14px;
	font-weight: 400;
}

.newsletter-content-input input:focus {
	border: none;
}

.newsletter-content-input .newsletter-content-input-checkbox {
	display: flex;
	width: 16px;
	height: 16px;
}

.newsletter-content-input-checkbox {
	cursor: pointer;
}

.newsletter-content-input .newsletter-content-input-checkbox {
	display: flex;
	width: 16px;
	height: 16px;
	margin-right: 8px;
}

.newsletter-content-input,
label {
	margin-right: 24px;
}

.newsletter-content label {
	margin-left: 8px;
}

.newsletter-content button {
	display: flex;
	padding: 14px 24px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 8px;
	background: var(--primary-color);
	border: none;
	color: var(--text-secondary-color);
}

.input-checkbox-small {
	display: none;
}

@media (max-width: 500px) {
	.input-checkbox-big,
	.label-big {
		display: none;
	}

	.input-checkbox-small {
		display: flex;
	}

	.newsletter {
		align-items: center;
		height: 100%;
		max-width: 375px;
	}

	.newsletter-content {
		max-width: 358px;
		min-height: 284px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0;
	}

	.newsletter-content-input,
	label {
		margin: 0;
	}

	.newsletter-content-input {
		width: 326px;
		height: 48px;
		margin-bottom: 16px;
	}

	.newsletter-content button {
		display: flex;
		width: 326px;
		padding: 14px 24px;
		justify-content: center;
		align-items: center;
		gap: 10px;
		margin-top: 16px;
	}
}
