.second-banner {
	background-color: var(--bg-second-banner);
	height: 819px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.second-banner-container {
	display: flex;
	justify-content: start;
	width: 1117px;
	gap: 49px;
}

.second-banner-information {
	width: 476px;
	height: 567px;
	display: flex;
	flex-direction: column;
	gap: 50px;
	padding-top: 122px;
}

.second-banner-information-text {
	display: flex;
	align-items: center;
}

.second-banner-information h2 {
	color: #4f4f4f;
	font-size: 30px;
	font-weight: 700;
	line-height: 140%;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	text-align: center;
}

.second-banner-information-pin {
	width: 90px;
	height: 90px;
	background-color: var(--primary-color);
	border-radius: 50%;
	padding: 22px;
}

.second-banner-information-text p {
	width: 360px;
	color: #4f4f4f;
	font-size: 18px;
	font-weight: 400;
	line-height: 140%;
	letter-spacing: 0.9px;
	margin-left: 20px;
}

.second-banner-mockup {
	width: 652px;
	padding-top: 41px;
}

@media (max-width: 500px) {
	.second-banner {
		height: 100%;
		min-width: 390px;
	}

	.second-banner-container {
		width: 390px;
		flex-direction: column-reverse;
		gap: 0;
	}

	.second-banner-information {
		width: 390px;
		height: 110%;
		gap: 21px;
		padding: 15px 15px 20px;
	}

	.second-banner-mockup {
		width: 390px;
		display: flex;
		justify-content: center;
	}

	.second-banner-mockup img {
		width: 349px;
		height: 349px;
	}

	.second-banner-information-pin {
		width: 75px;
		height: 75px;
	}

	.second-banner-information-text p {
		width: 100%;
		font-size: 12px;
		font-weight: 400;
		letter-spacing: 0.6px;
		line-height: 140%;
	}

	.second-banner-information h2 {
		color: var(--text-primary-color);
		font-size: 20px;
		font-weight: 700;
		line-height: 140%;
		letter-spacing: 0.8px;
	}
}
